<div class="container">
    <div class="side-menu">
        <div class="logo">
            <img src="../../../assets/img/logo-blanco.png" alt="">
        </div>
        <ul class="links">
            <li *ngIf="isAdmin"><a><i class="fas fa-user-friends"></i>Usuarios</a></li>
            <li><a><i class="fas fa-project-diagram"></i>Proyectos</a></li>
            <li><a><i class="fas fa-align-center"></i>Actividades</a></li>
            <li><a><i class="fas fa-align-center"></i>Opción 4</a></li>
        </ul>
    </div>
    <div class="dashboard">
        <div class="title" *ngIf="isAdmin">Usuarios | <small>Administrador</small> </div>
        <div class="title" *ngIf="!isAdmin">Bienvenido {{usuarioActual}}</div>
        <button (click)="logout();" class="btn-logout">Cerrar sesión</button>
        <button mat-button color="primary" (click)="onAddUser()" *ngIf="isAdmin">Agregar usuario</button>

        <br>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="github">
                <th mat-header-cell *matHeaderCellDef> GitHub </th>
                <td mat-cell *matCellDef="let element"> {{element.github}} </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let element">
                    <i class="fas fa-user-edit" (click)="onEdit()"></i>
                    <i class="fas fa-trash-alt" (click)="onDelete(element.id)"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <!--
        <table *ngIf="isAdmin">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>GitHub</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.github}}</td>
                    <td>
                        <i class="fas fa-user-edit" (click)="onEdit()"></i>
                        <i class="fas fa-trash-alt" (click)="onDelete(usuario.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
